@model YayinEvi

<form method="post">
    <input asp-for="Ad" class="form-control" placeholder="Lütfen yayınevi adını giriniz" /><br />
    <input asp-for="Adres" class="form-control" placeholder="Lütfen yayınevi adresi giriniz" /><br />
    <input asp-for="Tel" class="form-control" placeholder="Lütfen yayınevi telefonu giriniz" /><br />

    <button class="btn btn-primary" type="submit">Kaydet</button>

</form>